=title("Sign up")
%br
%br
.row
  .span4{style: "background-color: #FFFFBD;"}
    %div{style: " padding: 20px 10px;"}
      %h3 Sign up
      %br
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-vertical'}) do |f|
        = f.error_notification
        .navbar-search
          = f.input :name, :required => true, input_html: {:class=>"span3", style: "height: 24px; font-size: 18px;"}, :placeholder=>"Name", label: false, :autofocus => true
          = f.input :username, :required => true, input_html: {:class=>"span3", style: "height: 24px; font-size: 18px;"}, :placeholder=>"Username", label: false
          - if params[:email_preset].blank?
            = f.input :email, :wrapper => :append, label: false, :required => true do
              = f.input_field :email, :class=>"span3", :placeholder=>"Email ID", style: "height: 24px; font-size: 18px;"

          - else
            = f.input :email, :wrapper => :append, label: false, :required => true do
              = f.input_field :email, :class=>"span3", :placeholder=>"Email ID", value: params[:email_preset], style: "height: 24px; font-size: 18px;"

          = f.input :password, :required => true, label: false, :wrapper => :append do 
            = f.input_field :password, :class=>"span3", :placeholder=>"Password", style: "height: 24px; font-size: 18px;"

          %br
          = f.button :submit, "Sign up and agree to Terms", class: "btn-large btn-success"
      %br
      %br
      %br
      %br
