%h2 Change your password
%br
%br
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-vertical' }) do |f|
  = devise_error_messages!
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.input :password, :required => true, :autofocus => true, :class=>"search-query span2 simple_form_search_bar", label: "New Password"
  = f.input :password_confirmation, :required => true, :autofocus => true, :class=>"search-query span2 simple_form_search_bar", label: "Confirm new password"
  = f.input :incoming_channel, as: :hidden, input_html: {value: "change_password"}
  = f.button :submit, "Change my password", class: "btn-large btn-success"