=title("Forgot your password?")
#centralized{style: "width: 340px; margin-top: 60px;"}
  .w2{style: "padding-bottom: 10px;"}
    .center
      %br
      Can't sign in
      %h3.ruler 
        Forget your password?
    %div{style: "padding: 10px 30px 0px 30px;"}
      Enter your email address below and we'll send you password reset instructions.
      %br
      %br
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-vertical' }) do |f|
        = f.error_notification
        .navbar-search
          = f.input :email, :required => true, :autofocus => true, :class=>"search-query span2 simple_form_search_bar", :placeholder=>"Email ID", label: false
        = f.button :submit, "Send me reset password instructions", class: "btn-large btn-success"
  .f12{style: "padding-top: 5px;"}
    %b Nevermind: 
    = link_to "Send me back to the sign in screen", new_session_path(resource_name)
%br
%br
%br
%br
.footer
  Don't have an account? 
  = link_to "Sign up today", sign_up_path, style: "font-weight: bold;"