!!!
%html
  %head
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', :media => "all"
    = csrf_meta_tag
    %title pykih reader 
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ "http-equiv"=>"content-type", :content => "text/html; charset=ISO-8859-1"}
    %meta{name: "keywords", content: "google reader replacement, Google Reader substitute, Google Reader alternative, Google Reader"}
    %meta{name: "description", content: "pykih reader is an open source feed reader aimed at being a community owned and community developed feed reading & sharing platform."}
  %body.all
    .container
      .row
        .span12.f11.right
          This is a community owned, 
          = link_to "open-source", "https://github.com/pykih/reader", target: "_blank", style: "color: blue;"
          project. To contribute, 
          = mail_to "rp@pykih.com", "contact us."
    .container
      .row
        .span3
          %div{style: "padding-top: 10px;"}= link_to image_tag("logo.png"), root_url
          %br
          %br
        .span6
          %br
        .span3.right
          - if !current_user.blank?
            - if current_user.is_admin?
              = link_to "Admin", admin_user_path(current_user)
            = link_to "Sign Out".html_safe, sign_out_path, style: "color: black;"
          - else
            %ul.nav.nav-pills
              %li{class: (action_name == "faqs") ? "active" : nil}= link_to "FAQs", faqs_path, style: "text-decoration: none;"
              %li{class: (action_name == "developer") ? "active" : nil}= link_to "Developer", developer_path, style: "text-decoration: none;"
              %li{class: (action_name == "about") ? "active" : nil}= link_to "About", about_path, style: "text-decoration: none;"
    .container
      .row
        .span12= render partial: "layouts/shared/messages"
        = yield
      - if !current_user.blank?
        = render partial: "layouts/shared/footer"
- if current_user.blank?
  = render partial: "layouts/ga"