!!!
%html
  %head
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', :media => "all"
    = csrf_meta_tag
    %title
      redFeed Reader
      =# yield(:title) || "Effective managerial reporting with beautiful, one page dashboards."
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ "http-equiv"=>"content-type", :content => "text/html; charset=ISO-8859-1"}
    %meta{name: "keywords", content: "LightHouseApp.com, LightHouse, LightHouseApp, Dashboard, Report, Excel, Formhub, formhub.org, Google Reader substitute, Google Reader alternative, Google Reader"}
    %meta{name: "description", content: "Effective managerial reporting with beautiful, one page dashboards."}
  %body
    .container
      = render partial: "layouts/shared/messages"
      = yield
      - if current_user.blank?
        = render partial: "layouts/shared/footer"
- if current_user.blank?
  = render partial: "layouts/ga"
= render partial: "layouts/freshdesk"